body {
  background-image: url(./files/bala-bg.jpeg);
  color: #fff;
}

.button {
  border-radius: .3rem;
    width: 120px;
    /* margin-bottom: 8px; */
    float: right;
    font-size: x-large;
    background-color: #696969;
    border-color: #696969;
    outline: none;
    color: #fff;
    margin: 10px;
    position: relative;
    top: -80px;
}

.active{
  color: #8b8c8c;
  background: #000000;
  border-color: black;
}

.right-menu .button {
  margin-bottom: 2px;
}

.name {
  font-size: 2.5em;
}

p {
  font-size: 2em;
}

hr {
  width: 88%;
  position: relative;
  top: -46px;
}

.container {
  position: relative;
  top: -40px;
}

.para{
  position: relative;
  left: 50px;
  top: -15px;
}

