body {
  background-image: url(./files/bala-bg.jpeg);
  color: #fff;
}

.button {
  border-radius: .3rem;
  width: 120px;
  margin-bottom: 8px;
  float: right;
  font-size: x-large;
  background-color: #696969;
  border-color: #696969;
  outline: none;
  color: #fff;
} 

.right-menu .button {
  margin-bottom: 35px;
}

.name {
  font-size: 2.5em;
}

p {
  font-size: 2em;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.vertical-line {
  border-left: 1px solid #ccc;
    height: 600px;
    /* margin: 0px 0px 0px 1150px; */
    top: 150px;;
    position: fixed ;
    left: 1156px;
    width: 1%;
}

.right-menu {
  position: fixed;
  left: 1200px;
  top: 242px;
}

.container {
  height: 600px ;
}
